name: Deploy to Firebase Hosting (Production)

on:
  push:
    branches:
      - dev-branch   # ya main (jo tum use kar rahe ho)

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_BHAVIX_SITE }}"
          projectId: bhavix-site
          channelId: live
